:root{
    --colorVerde:rgb(117, 245, 136);
}

.clasesEst{
    margin: 10px;
    margin-top: 1px;
    padding: 10px;
    border: 3px solid var(--colorVerde);
    border-radius: 5px;

}

.misClases{


    border-radius: 15px;
    width: 73.4vw;
    margin: 5px;
    padding: 10px;
    background-color: aqua;

    display: flex;
    flex-flow: row wrap;

}
